{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
	<link rel="stylesheet" type="text/css" href="/static/jquery.countdown.css">
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<script src="{% static 'js/jquery.geocomplete.js' %}"></script>
	<script src="{% static 'js/geoposition.js' %}"></script>
	

{% endblock %}

{% block content %}
  <form method="post" action="{% url 'adress' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Добавить адрес</button>
  </form>
<br>
{% endblock %}