{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
		<meta charset="utf-8" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
        <link rel="stylesheet" href="{% static 'countdown_style.css' %}" />
        <link rel="stylesheet" href="{% static 'jquery.countdown.css' %} " />
		<script src="{% static 'js/countdown.js' %}"></script>
		<script src="{% static 'js/makeabet.js' %}"></script>
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="{% static 'js/jquery.countdown.js' %}"></script>


{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
{% for lot in category_lots %}
    <p id = "pk" hidden="true">{{lot.id}}</p>
Название лота: <p><a href="{% url 'lot_detail' lot.id%}">{{lot.name}}</a></p>
Описание лота: <p>{{lot.description}}</p>
<p id="end_date" hidden='true'>{{lot.end_date|date:"Y-m-d H:i"}}</p> <!--end_date используется для считывания даты скриптом-->
Первоначальная цена: <p>{{lot.start_price}}</p>
Последняя цена: <p id="current_price">{{lot.current_price|floatformat:2}}</p>

<div id="countdown"></div>
<p id="note"></p>
<button id="makeabet">Сделать ставку</button>

{% if can_bet %}
{% endif %}
        
{% endfor %}
      
<nav><ul class="pagination">
{% for p in paginator.page_range %}
 {% if p == page.number %}
 <li class="active">
 {% else %}
 <li>
 {% endif %}
  <a href="{{ paginator.baseurl }}{{ p }}">
  {{ p }}</a>
</li>
{% endfor %}
</ul></nav>   
      
      </div>
    </div>
 

<body>
</body>
{% endblock %}