<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
        
        
    </head>
    <body>
        <p id="end_date">2016-09-15 22:10</p>
        <link rel="stylesheet" href="/static/countdown_style.css" />
        <link rel="stylesheet" href="/static/jquery.countdown.css" />
		<div id="countdown"></div>
		<p id="note"></p>
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="/static/js/jquery.countdown.js"></script>
		<script src="/static/js/countdown.js"></script>
    </body>
</html>



