{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
		<meta charset="utf-8" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
        <link rel="stylesheet" href="{% static 'countdown_style.css' %}" />
        <link rel="stylesheet" href="{% static 'jquery.countdown.css' %} " />
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="{% static 'js/jquery.countdown.js' %}"></script>
		<!--<script src="{% static 'js/countdown_2.js' %}"></script>-->
		<script src="{% static 'js/update_data.js' %}"></script>
		<script src="{% static 'js/makeabet_2.js' %}"></script>

{% endblock %}

{% block content %}


<div data-timer="{{lot.end_date|date:'Y-m-d H:i'}}">
<p id = "pk" hidden="true">{{lot.id}}</p>
Название лота: <p>{{lot.name}}</p>
Описание лота: <p>{{lot.description}}</p>
Дата создания: <p>{{lot.start_date|date:"Y-m-d H:i"}}</p>
Дата завершения: <p id="end_date">{{lot.end_date|date:"Y-m-d H:i"}}</p>
Владелец лота: <p>{{lot.author.first_name}}</p>
Категория: <p>{{lot.category}}</p>
Первоначальная цена: <p>{{lot.start_price}}</p>
Последняя цена: <p id="current_price">{{lot.current_price|floatformat:2}}</p>
Локация: <p>{{lot.location}}</p>
<div id="countdown"></div>
<p id="note"></p>

<p>Хотите предложить свою ставку?</p>
<button id="makeabet">Сделать ставку</button><p id="help_for_bet"></p>

{% if can_bet %}
{% endif %}
<body>
</body>
</div>
{% endblock %}